// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import "~font-awesome/css/font-awesome.min.css";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.width-col-5{
  width: 5%;
}

.width-col-25{
  width: 25%;
}

.width-col-45{
  width: 45%;
}

.width-col-50{
  width: 50%;
}

.width-col-95{
  width: 95%;
}
